<!DOCTYPE html>
<html lang="en" style="width:100">

	<head>
		<title>$ticker</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel='stylesheet' href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type='text.css'>
	</head>

	<body class="body" style="background-color:black">
		<div style="border-bottom:solid 1px; background-color:#C9CBCB">
			<div style=class="col-md-12">
				</br>
				<h1 style="margin-left: 4vw">Stock Ticker </br><small>Only NASDAQ Symbols</small></h1></br>
			</div>
		</div>

		<div class="col-md-10" style="margin-left:10vw">
			<br><p style="color:#FFF" class="lead">This is a web stock ticker, made using matplotlib in the <code style="color:black">dark_background</code> style, and with data collected from googlefinance.
			<br>
			Code can be found <a href="https://github.com/Yatin-Kapur/ticker">here</a></p>
		</div>


		<div class="col-md-3" style="margin-left:10vw; margin-right:10vw">
			<br>
			<br>

			<form action="" method="post">
				<div class="input-group input-group">
					<span class="input-group-addon" id="sizing-addon1">$</span>		
					{% if reset %}
					<input required name="symbol" type="text" class="form-control" placeholder="AAPL" value="{{ symbol }}"> 								
					{% elif error %}
					<input required name="symbol" type="text" class="form-control" placeholder="{{ error }}"> 

					{% else %}
					<input required name="symbol" type="text" class="form-control" placeholder="AAPL">
					{% endif %}
				</div>

				<br>

				<div class="list-group">
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="one_day" value="1D">One Day</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="five_days" value="5D">Five Days</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="one_month" value="1M">One Month</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="three_months" value="3M">Three Months</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="one_year" value="1Y">One Year</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="five_years" value="5Y">Five Years</button>
					<button style="border-radius:1; margin:2px 0" class="list-group-item" type="submit" name="ten_years" value="10Y">Ten Years</button>
				</div>
			</form>	
			<!-- API DOESN'T WORK ANYMORE SO LIVE QUOTES ARE OFF

	   		{% if reset %}

			<div style="text-align:right"><h3 style="color:#FFF">Last Traded for<p style="color:#00e673">PRICE</p>on<p style="color:#cc0000">DATE</p></h3>
			</div>

			{% endif %}-->

		</div>

		<div class="col-md-5" style="margin-left:5vw; margin-right:5vw">
			{% if reset %}
			<h2>Stock Ticker for the Previous {{ time }} <small> {{ symbol }} </small> </h2>
            {% if dead %}
            <h4>data unavailable :(</h4>
            {% endif %}
			<img src="static/pics/{{ image }}" alt="Oops! Try refreshing the page" style="margin:auto; width:40vw; min-width:100%">
						
			{% endif %}
		</div>

	</body>
</html>

